@import "bootstrap-sprockets";
@import "bootstrap";


/* general */

body {
  margin: 0 !important;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

//div{
//  f{
//    display: block;
//    text-align: center;
//  }
//}
//
//form#search-form{
//  display: inline-block;
//  margin-left: auto;
//  margin-right: auto;
//  text-align: left;
//}

/* listing */

//table#listing{
//  margin-left: auto;
//  margin-right: auto;
//}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 15px 0;
  font-weight: bold;
  vertical-align: middle;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

a#logo:hover {
  background-color: transparent;
}

/* navbar elements */

.navbar-inverse {
  background-color: #2F4362;
  border-color: #2F4362;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}

/* Bootstrap customizations */

.btn-vertically-slim {
  padding-top: 2px;
  padding-bottom: 2px;
}

.btn-cancel {
  color: #000000;
  background-color: lightgray;
}

.btn-cancel:hover {
  background-color: darkgray;
}

.btn-cancel:visited {
  color: #000000;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $gray-light;

  a {
    color: #555;
  }

  a:hover {
    color: #222;
    background-color: transparent;
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* forms */

.new_user input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing(border-box);
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  width: 100%;
  background-color: transparent !important;
  .form-control {
    color: $state-danger-text;
  }
}